html, head, body, #root {
height: 100%;
margin: 0em;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}


.background {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  text-align: center;
  padding-bottom: 2em;
  color: #292929;
}
.background > h2 {
  padding-top: 2em;
  margin: 0em;
}

.flow {
  margin: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.refresh {
  transition: transform .4s; 
  position: fixed;
  top: 1.2em;
  right: 3em;
  cursor: pointer;
}
.refresh:hover {
  transform:rotate(-360deg)
}

.print {
  position: fixed;
  top: 6em;
  right: 3em;
  cursor: pointer;
}

.heading {
  text-align: left;
  padding: 1em 0.75em;
  text-transform: uppercase;
  background: aliceblue;
  color: #292929;
  font-weight: 900;
  font-size: 1.5em;
}
.flowchart-name {
  margin-top: 2em;
  border: none;
  width: 50%;
  padding: 1em 0em;
  text-align: center;
  font-size: 1.3em;
}