html, head, body, #root {
height: 100%;
margin: 0em;
font-family: monospace;
}


.background {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  text-align: center;
  padding-bottom: 2em;
  background-image: linear-gradient( 140deg, #8691dc 0%, #73bfdc 50%, #baf1f7 75%);
}
.background > h2 {
  padding-top: 2em;
  margin: 0em;
}

.flow {
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.refresh {
  transition: transform .4s; 

  position: absolute;
  top: 3em;
  right: 3em;

}
.refresh:hover {
  transform:rotate(-360deg)
}
.heading {
  text-align: left;
  padding: 0.75em;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 2em;
}