.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.round-stop, .round-start {
    background-color: #F7DBF0;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: none;
    color: black;
}

.steps {
    margin: 0.5em;
    cursor: pointer;
    transition: transform .2s; 
    text-align: center;
    resize: none;
    display:inline-block; 
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align:middle;
}
.steps:hover {
    transform: scale(1.1);
}
.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    z-index: 1;
    max-width: min-content;
}
.options > button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform .2s; 
}

.options > button:hover {
    transform: scale(1.05);
}

.options > .add-step {
    background-color: #4acab5;
    color: white;
}
.options > .stop {
    background-color: #ee8bd5;
    color: white;
}

.hide {
    display: none;
}
.rectangle {
    width: 10em;
    height: 5em;
    background: #CDF0EA;
    border: none;
    border-radius: 0.5em;
}
.diamond {
    height: 2em;
    width: 2em;
    background: #BEAEE2;
    border-radius: 0.5em;
    border: none;
    transform: rotate(45deg);
}
.diamond:hover {
    transform: rotate(45deg);
}

.decision-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rightLine {
    height: 1px;
    background: black;
    width: 50%;
}
.leftLine {
    height: 1px;
    background: black;
    width: 50%;
    float: right;
}
.arrow {
    height: 1em;
}
.show {
    display: block;
}
.delete {
    cursor: pointer;
    border: none;
    top: 0;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    background: #424242;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(3em);
}
